.carousel {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;

    height: 415px; /* Hauteur par défaut */
}

.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 50;
}

.carousel .picture_counter {
    position: absolute;
    color: transparent;
    z-index: 999;
    bottom: 15px;
    left: 50%;
}

.picture_counter {
    position: absolute;
    color: transparent;
    z-index: 999;
    bottom: 15px;
    left: 50%;
    @include desktop {
        color: white;
    }
}

